<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <script src="/js/indexCode.js"></script>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Data companies</h1>
            <p>Choose the companies you want to compare (minimum of 1 and maximum of 4)</p>
            <div class="socialmedia row">
                <div class="col-sm-6 checkboxes">
                    <% for (var i = 0; i < companies.length/2; i++) { %>
                    <div>
                        <label class="filtercontainer">
                            <input type="checkbox" class="checkbox" id="<%= companies[i] %>" onclick="checkIfCompaniesSelected()">
                            <span class="checkmark"></span>
                            <p>
                                <%= companies[i] %>
                            </p>
                        </label>
                    </div>
                    <% } %>
                </div>

                <div class="col-sm-6 checkboxes">
                    <% for (var i = Math.ceil(companies.length/2); i < companies.length; i++) { %>
                    <div>
                        <label class="filtercontainer">
                            <input type="checkbox" class="checkbox" id="<%= companies[i] %>" onclick="checkIfCompaniesSelected()">
                            <span class="checkmark"></span>
                            <p>
                                <%= companies[i] %>
                            </p>
                        </label>
                    </div>
                    <% } %>
                </div>
            </div>

            <div class="row">
                <div class="col-sm comparebtn">
                    <button class="btn btn-primary" onClick="goToOptionsPage()" id="continuebutton" disabled>Continue</button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>