<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <script src="/js/indexCode.js"></script>
</head>

<body class="container" onload="getCompanies();addChosenCompanies();checkSavedBoxes();checkIfOptionsSelected();">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <p class="button"><a href="data1">Companies</a> > <b>Subjects</b></p>
            <p style="float:right" id="chosencompanies"></p>
            <br><br>
            <button class="btn btn-primary button" onclick="location.href='data1'">Back</button>
            <h1>Data subjects</h1>
            <p>Select all subjects you are interested in (At least 1)</p>

            <div class="options row">

                <div style="margin-bottom:<%= marginBottom %>" id="generallist">
                    <h2>General</h2>
                    <div class="col-sm-12 checkboxes">
                        <div>
                            <label class="filtercontainer" onclick="selectAllGeneral()">
                                <input type="checkbox" class="" id="checkboxgeneralall">
                                <span class="checkmark"></span>
                                <p>
                                    Select all
                                </p>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-6 checkboxes">
                        <% for (var i = 0; i < optionsGeneral.length/2; i++) { %>
                        <div>
                            <label class="filtercontainer" id="<%= optionsGeneral[i] %>">
                                <input type="checkbox" class="checkbox checkboxgeneral" onclick="checkIfOptionsSelected()">
                                <span class="checkmark"></span>
                                <p>
                                    <%= optionsGeneral[i] %>
                                </p>
                            </label>
                        </div>
                        <% } %>
                    </div>

                    <div class="col-sm-6 checkboxes">
                        <% for (var i = Math.ceil(optionsGeneral.length/2); i < optionsGeneral.length; i++) { %>
                        <div>
                            <label class="filtercontainer" id="<%= optionsGeneral[i] %>">
                                <input type="checkbox" class="checkbox checkboxgeneral" onclick="checkIfOptionsSelected()">
                                <span class="checkmark"></span>
                                <p>
                                    <%= optionsGeneral[i] %>
                                </p>
                            </label>
                        </div>
                        <% } %>
                    </div>
                </div>

                <h2>Content</h2>

                <div class="col-sm-12 checkboxes">
                    <div>
                        <label class="filtercontainer" onclick="selectAllContent();checkIfOptionsSelected()">
                            <input type="checkbox" class="" id="checkboxcontentall">
                            <span class="checkmark"></span>
                            <p>
                                Select all
                            </p>
                        </label>
                    </div>
                </div>  

                <div class="col-sm-12 checkboxes" id="optionslist">

                </div>

                <!--
                <h2>Content</h2>
                <div class="col-sm-12 checkboxes">
                    <div>
                        <label class="filtercontainer" onclick="selectAllContent();checkIfOptionsSelected()">
                            <input type="checkbox" class="" id="checkboxcontentall">
                            <span class="checkmark"></span>
                            <p>
                                Select all
                            </p>
                        </label>
                    </div>
                </div>

                <div class="col-sm-6 checkboxes">
                    <% for (var i = 0; i < optionsContent.length/2; i++) { %>
                    <div>
                        <label class="filtercontainer">
                            <input type="checkbox" class="checkbox checkboxcontent" id="<%= optionsContent[i] %>" onclick="checkIfOptionsSelected()">
                            <span class="checkmark"></span>
                            <p>
                                <%= optionsContent[i] %>
                            </p>
                        </label>
                    </div>
                    <% } %>
                </div>

                <div class="col-sm-6 checkboxes">
                    <% for (var i = Math.ceil(optionsContent.length/2); i < optionsContent.length; i++) { %>
                    <div>
                        <label class="filtercontainer">
                            <input type="checkbox" class="checkbox checkboxcontent" id="<%= optionsContent[i] %>" onclick="checkIfOptionsSelected()">
                            <span class="checkmark"></span>
                            <p>
                                <%= optionsContent[i] %>
                            </p>
                        </label>
                    </div>
                    <% } %>
                </div>
                -->

            </div>

            <div class="row">
                <div class="col-sm comparebtn">
                    <button class="btn btn-primary" id="continuebutton" onClick="goToComparePage()">Continue</button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>